* {
    font-family: 'Verdana', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images2.alphacoders.com/133/1332842.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: rgb(242, 156, 107, 0.5);
    backdrop-filter: blur(2px);
    height: 20rem;
    width: 30%;
    padding: 20px;
    gap: 2rem;
    position: absolute;
    top: 25%;
    color: white;
}

h1 {
    font-size: 35px;
}

input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 12px;
    width: 75%;
    font-size: 15px;
}

button {
    width: 80%;
    border: none;
    border-radius: 15px;
    background-color: rgb(85,82,103);
    color: white;
    padding: 12px;
    font-size: 18px;
}

button:hover {
    background-color: rgb(62, 59, 75);
}

button:active {
    transform: translateY(2.5px);
}